<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Administracion</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <div>
      <ul>
        <li>
    <a href="#">lista de los productos</a>
    <a href="#">agregar un nuevo productos</a>  
    <a href="#">editar un producto existente</a>
    <a href="#">agregar un imagenes</a>
    <a href="#">listado de categorias</a>
    <a href="#">agregar categoria</a>
    <a href="#">editar categoria</a>
      </li>
    </ul>



  </div>

      </div>
    </form>
  </body>
</html>
