<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Administracion</title>
    <link rel='stylesheet' href='/stylesheets/agre.css' />
    <link rel="shortcut icon" type="image/x-icon" href="images/images.ico">
  </head>
  <body>

    <img src="images/4.jpg" class="m2">
    <div class="T1">

      <ul>
        <li>
    <a href="/db/models.js" name="getProducts">lista de los productos</a>
        </li>
        <li>
    <a href="/np.ejs">agregar un nuevo productos</a>  
        </li>
        <li>
    <a href="">editar un producto existente</a>
        </li>
        <li>
    <a href="/ni.ejs">agregar un imagenes</a>
        </li>
        <li>
    <a href="">listado de categorias</a>
        </li>
        <li>
    <a href="/nc.ejs">agregar categoria</a>
        </li>
        <li>
    <a href="">editar categoria</a>
        </li>
      </ul>



    </div>

      
    </form>
  </body>
</html>
