<!DOCTYPE html>
<html>
  <head>
    <title>Tienda.com</title>
    <link rel='stylesheet' href='/stylesheets/IN.css'/>
  </head>
  <body>
    <div class="formulario">
    <h1>Bienvenido a la Tienda de Producto para cuidad tu cabello</h1>
    <div class="p1">
    <p> <a href="usua.ejs">Empleado</a></p>
    </div>
  
    <div class="p2">
    <p>clientes</p>  
    </div>
  </div>  
  </body>
</html>
