<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Categoria.com</title>
    <link rel='stylesheet' href='/stylesheets/incre.css'/>
    <link rel="shortcut icon" type="image/x-icon" href="images/images.ico">

  </head>
  <body>

    <img src="images/5.jpg" class="m2">
    
    <div class="formulario2">
  
    <form  action="/nc" method="post">

       <div class="i1">
       <input type="text" name="name" id="name"  required >
       <label for="Nombre">Nombre de la Nueva Categoria</label>
       </div>

       <input type="submit" value="Ingresar" >


       
    </form>
  </div>
  </body>
</html>
