<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Producto.com</title>
    <link rel='stylesheet' href='/stylesheets/incre.css'/>
    <link rel="shortcut icon" type="image/x-icon" href="images/images.ico">

  </head>
  <body>
    <img src="/images/5.jpg" class="m2">
    <div class="formulario2">
    <form  action="/np" method="post">
      
      <div class="i1">
        <input type="text" name="name" id="name"  required >
        <label for="Nombre">Nombre del Producto</label>
      </div>
        <div class="i1">
        <input type="number" name="codigo" id="codigo"  required >
        <label for="Codigo">Codigo del Producto</label>
      </div>
        <div class="i1">
        <input type="number" name="precio" id="precio"  required >
        <label for="Precio">Precio del Producto</label>
      </div>
        <div class="i1">
        <input type="text" name="descripcion" id="descripcion"  required >
        <label for="Descripcion">Descripcion del Producto</label>
      </div>
    
     <div class="i1">
        <input type="text" name="empresa" id="empresa"  required >
        <label for="Empresa">Empresa del Producto</label>
      </div>

      <div class="i2">
        <label for=" Sexo ">Para que genero</label>
        <select name="Sexo" id="sexo">
          <option value="Hombres">Hombres</option>
          <option value="Mujeres">Mujeres</option>
        

        </select>

        <option value="" >--Seleccione--</option>
        <% if (categorias) { %>
            <% for (let i = 0; i < categorias.length; i++){  %>
                <% if (categorias) { %>
                    <option value="<%= categorias[i].id %>" id="categoria_id" name="categoria_id"><%= categorias[i].nombre %></option>

                <% } %>
            <% } %>
        <% } else { %>
                    <option value="">No existen categorias en el sistema</option>
            <% }   %>
    </select>
      </div>


      <input type="submit" value="Ingresar" >

      

    </form>
  </div>
  </body>
</html>
