<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="/stylesheets/CÑ.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/images.ico">

    <title>Empleado</title>
  </head>
  <body>
    <div class="formulario1" >
      <h1>ingrese su Contraseña </h1>
      <form  action="/usua" method="post">
        <div class="usarname">
          <input type="text" name="user"  required >
          <label>Nombre de Usuario</label>
        </div>
        <div class="usarname" >
          <input type="password" name="pass"  required>
          <label>Ingrese su Contraseña</label>
        </div>
        <div class="recondar">¿Olvido su Contraseña?</div>

        <input type="submit" value="Iniciar" >

        
        <div class="registrarse">
          Quiere hacer el <a href="/Emp">registro</a>

        </div>

      </form> 

    </div>
   

  
  </body>
</html>
