<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/CÑ.css">
    <title>Empleado</title>
  </head>
  <body>
    <div class="formulario1">
      <h1>ingrese su Contraseña </h1>
      <form method="post">
        <div class="usarname">
          <input type="text" required>
          <label>Nombre de Usuario</label>
        </div>
        <div class="usarname" required>
          <input type="password">
          <label>Ingrese su Contraseña</label>
        </div>
        <div class="recondar">¿Olvido su Contraseña?</div>

        <input type="submit" value="Iniciar" >
        <div class="registrarse">
          Quiere hacer el <a href="#">registro</a>

        </div>

      </form> 

    </div>
   

  
  </body>
</html>
